.card-container {
  perspective: 1000px; /* Adds perspective for 3D effect */
  cursor: pointer; /* Adds a pointer cursor to indicate clickability */
}

.card {
  width: 300px; /* Card width */
  height: 400px; /* Card height */
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #fff; /* Fallback background color */
  background-size: cover; /* Fills the card completely */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */
  width: 100%;
  height: 100%;
}

.card-back {
  background-color: #f0f0f0;
  color: black;
  padding: 20px;
  transform: rotateY(180deg);
}

.event-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.event-description_caption {
  font-weight: bold;
  margin-top: 10px;
}

.event-description,
.event-date,
.event-time,
.event-club {
  margin: 5px 0;
}

.event-venue {
  color: blue;
  text-decoration: underline;
}

.event-delete-button,
.event-update-button {
  margin: 10px 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
