
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Put CORS configuration before routes
      globalcors:
        add-to-simple-url-handler-mapping: true  # Add this line
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - "GET"
              - "POST"
              - "PUT"
              - "DELETE"
              - "OPTIONS"
            allowedHeaders:
              - "Authorization"
              - "Content-Type"
              - "Accept"
            allowCredentials: true
            maxAge: 3600
      routes:
        # Public routes first
        - id: auth-public
          uri:  https://auth-service-ivhs.onrender.com
          predicates:
            - Path=/api/auth/**
          filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin  # Add this line

        - id: events-public
          uri: https://nitw-events.onrender.com
          predicates:
            - Path=/api/events/public/**


        - id: clubs-public
          uri: https://club-service-mrv5.onrender.com
          predicates:
            - Path=/api/clubs/public/**
          filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin

        # Protected routes after

        - id: event-serivce
          uri: https://nitw-events.onrender.com
          predicates:
                   - Path=/api/events/**
          filters:
            - AuthenticationFilter
            - DedupeResponseHeader=Access-Control-Allow-Origin

        - id: notification-serivce
          uri: https://notification-service-7dvl.onrender.com
          predicates:
                   - Path=/api/notifications/**
          filters:
            - AuthenticationFilter
            - DedupeResponseHeader=Access-Control-Allow-Origin 

        - id: profile-serivce
          uri: https://profile-service-vx93.onrender.com
          predicates:
                   - Path=/api/profile/**
          filters:
            - AuthenticationFilter
            - DedupeResponseHeader=Access-Control-Allow-Origin

        - id: recruitment-serivce
          uri: https://recruitment-service-vx93.onrender.com
          predicates:
            - Path=/api/recruitments/**
          filters:
            - AuthenticationFilter
            - DedupeResponseHeader=Access-Control-Allow-Origin




eureka:
  instance:
    hostname: localhost
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: https://service-registry-uudg.onrender.com/eureka/

jwt:
  secret: ${JWT_SECRET}

       
